* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  text-align: center;
  background-color: #11151c;
  color: #ffff;
}

.header {
  background-color: #364156;
  height: 72px;
}

h1 {
  line-height: 72px;
}

#reset,
#newBtn {
  height: 48px;
  background-color: #364156;
  border-radius: 16px;
  font-size: 20px;
  color: #ffff;
  padding: 0px 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.gameBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  aspect-ratio: 1/1;
  max-height: 460px;
  min-width: 90%;
}

.eachBtn {
  aspect-ratio: 1/1;
  width: 25%;
  margin: 0.5rem;
  font-size: 3rem;
  background-color: #7d4e57;
  color: #ffff;
  border-radius: 1rem;
}

.eachBtn:hover {
  border: 1px solid yellowgreen;
}

.msgContainer {
  background-color: #212d40;
  min-height: 100vh;
  align-content: center;
}

#msg {
  line-height: 96px;
}

.hide {
  display: none;
}

@media only screen and (min-width: 600px) {
  .gameBtns {
    max-height: 380px;
    min-width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .gameBtns {
    min-width: 25%;
  }
}

@media only screen and (min-width: 1600px) {
  .gameBtns {
    min-width: 20%;
  }
}
